<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- <?xml version="1.0" encoding="UTF-8"?>-->
<monitor>

<products>
<!-- osagent ioragent cms_billing cms_spectra cms_adapter provisioning -->
<product id="1" name="OSAGENT" state="disabled">
   <environment env="TST1" state="disabled"> 
    <account>targys@it4tst1_old</account>
    <account>targys2@it4tst1_old</account>
    <user></user>
    </environment>
   <environment env="TST3" state="disabled"> 
    <account>targys@vmcmstst3</account>
    <account>targys2@vmcmstst3</account>
    <user></user>
    </environment>
   <environment env="Train1" state="disabled"> 
    <account>targys@tetra</account>
    <account>targys2@tetra</account>
    <user></user>
    </environment>
   
<environment env="Train2" state="disabled"> 
    <account>targys@tetra</account>
    <account>targys2@tetra</account>
    <user></user>
    </environment>
   <cmd command="status" timeout="0">./bin/osagent.sh status</cmd>
</product>

<product id="2" name="IORAGENT">
<!--  undef    -->
    <environment env="TST1" db="bscstst1" state="disabled"> 
    <account>targys@znbilldbdev01</account>
    <user></user>
    </environment>
   <environment env="TST3" db="bscstst3" state="disabled"> 
    <account>targys@vmcmstst3</account>
    <user></user>
    </environment>
   <environment env="Train1" db="bstrain2" state="enabled"> 
    <account>targys@tetra</account>
    <user></user>
    </environment>
   
<environment env="Train2" db="bstrain3" state="enabled"> 
    <account>targys@tetra</account>
    <user></user>
<!--   <db>bstrain1</db> -->
    </environment>
<!-- Variable ${DB} will be replaced with value of <db> section   -->
   <cmd command="status" timeout="0"> ./bin/ioragent.sh status ${DB} </cmd>

</product>

<product id="3" name="CMS_BILLING">
    <!--  undef    -->
    
    <environment env="TST1" state="enabled"> 
    <account>targys@it4tst1_old</account>
    <user></user>
    </environment>
   <environment env="TST3" state="enabled"> 
    <account>targys@vmcmstst3</account>
    <user></user>
    </environment>
   <environment env="Train1" > 
    <account>targys@tetra</account>
    <user></user>
    </environment>
   
<environment env="Train2" state="disabled"> 
    <account>targys@tetra</account>
    <user></user>
    </environment>
<!-- Variable ${DB} will be replaced with value of 'environment' attribute   -->
   <cmd command="status" timeout="0">./bin/statusCMS -m ${ENV}</cmd>
</product>

<product id="4" name="CMS_Spectra">
    <!--  undef    -->
    <environment env="TST1" state="enabled" > 
    <account>targys2@it4tst1_old</account>
    <user></user>
    </environment>
   <environment env="TST3" state="enabled"> 
    <account>targys2@vmcmstst3</account>
    <user></user>
    </environment>
   <environment env="Train1" state="enabled"> 
    <account>targys2@tetra</account>
    <user></user>
    </environment>
   
<environment env="Train2" state="disabled"> 
    <account>targys2@tetra</account>
    <user></user>
    </environment>
   <cmd command="status" timeout="0">./bin/statusCMS -m ${ENV}</cmd>

</product>

<product id="5" name="CMS_ADAPTER">
<!--  undef    -->

    <environment env="TST1" state="enabled"> 
        <account>tibco55@Kermit</account>
    </environment>
   <environment env="TST3" state="enabled"> 
        <account>tibco@it3tst3</account>
    </environment>

   <environment env="Train1" state="disabled"> 
    <account>tibco54@IFBLTRN1</account>
    <user></user>
   </environment>
    
    <environment env="Train2" state="disabled"> 
    <account>tibco54@IFBLTRN2</account>
    <user></user>
    </environment>
   
   <cmd command="status" timeout="0">./cmsadapter/bin/statusCMSAdapter</cmd>
    
</product>


<product id="6" name="PROVISIONING" state="enabled">
   <!--  undef  @tetra petra --> 
    <environment env="TST1" state="enabled"> 
    <account>bscstst1@znbillapptst1</account>
    <user></user>
    </environment>
   <environment env="TST3" state="enabled"> 
    <account>bscstst3@znbillapptst3</account>
    <user></user>
    </environment>
   <environment env="Train1" state="disabled"> 
    <account>undef</account>
    <user></user>
    </environment>
   
<environment env="Train2" state="disabled"> 
    <account>undef</account>
    <user></user>
    </environment>
   <cmd command="status" timeout="0">/ITLAB_share/itlab/provisioning.sh -statusall</cmd>

</product>


<product id="11" name="VANTIVE" >

<environment env="TST1" state="enabled"> 
    <account>vantive@znvantst1</account>
    <user></user>
    </environment>
<environment env="TST3" state="enabled"> 
    <account>vantive@znvantst3</account>
    <user></user>
    </environment>
<environment env="TrainB" state="disabled"> 
    <account>vantive@petra</account>
    <user></user>
    </environment>
<environment env="TrainC" state="enabled"> 
    <account>vantive@petra</account>
    <user></user>
    </environment>
<cmd command="status" timeout="60">vantive85_3/status_vantive.csh</cmd>

</product>

<product id="11" name="BA" >

<environment env="TST1" state="enabled"> 
    <account>oracle@it2tst1</account>
    <user></user>
    </environment>
<environment env="TST3" state="enabled"> 
    <account>oracle@vmbatest3</account>
    <user></user>
    </environment>
<environment env="TrainB" state="disabled"> 
    <account>vantive@tetra</account>
    <user></user>
    </environment>
<environment env="TrainC" state="disabled"> 
    <account>vantive@petra</account>
    <user></user>
    </environment>
<cmd command="status" timeout="0">perl statusBA.pl</cmd>

</product>

<product id="7" name="TEST1" state="disabled">
   <!--  undef  @tetra petra --> 
    <environment env="TEST_ENV1" state="enabled"> 
    <account>ccmngr@ponda</account>
    <user></user>
    </environment>
    <environment env="TEST_ENV2" state="enabled"> 
    <account>ccmngr@ponda</account>
    <user></user>
    </environment>
       <cmd command="status" timeout="0"> Develop/Monitor/test_failure $RET $ENV{COMPUTERNAME}</cmd>
</product>

<product id="7" name="TEST2" state="disabled">
   <!--  undef  @tetra petra --> 
    <environment env="TEST_ENV1" state="enabled"> 
    <account>ccmngr@ponda</account>
    <user></user>
    </environment>
    <environment env="TEST_ENV2" state="enabled"> 
    <account>ccmngr@ponda</account>
    <user></user>
    </environment>
       <cmd command="status" timeout="0"> Develop/Monitor/test_failure $ENV{COMPUTERNAME} $RET</cmd>
</product>

<product id="7" name="TEST3" state="disabled">
   <!--  undef  @tetra petra --> 
    <environment env="TEST_ENV1" state="enabled"> 
    <account>ccmngr@ponda</account>
    <user></user>
    </environment>
    <environment env="TEST_ENV2" state="enabled"> 
    <account>ccmngr@ponda</account>
    <user></user>
    </environment>
       <cmd command="status" timeout="0"> Develop/Monitor/test_failure</cmd>
</product>

</products>

<mail>
<sendto>
    <recipient>InfraNonProdTeam@orange.co.il</recipient>
    <recipient>_gilad.malachi@orange.co.il</recipient>
    <recipient>vlad.bronfman@orange.co.il</recipient>
    <recipient>slavik.bikov@orange.co.il</recipient>
    <recipient>keren.asulin@orange.co.il</recipient>
</sendto>
<sender>test_user@it4tst3</sender>

<!--Template-->
<template_dir>./templates</template_dir>
<out_html>monitor_mail.html</out_html>
<input_template>BuildLog.tt</input_template>

<!-- send_notificataion -->
<subject_file>./templates/subject</subject_file>
</mail>

</monitor>